/* Global */

p {

}

h1 {

}

body {
	font-family: "Lato", sans-serif;
}

h3 {
	font-family: "Brush Script MT"
}

body {
	background-color: #5d6d7e;
}

/* Navbar */
/* Navbar is only present on the INDEX page */

#navbar {
	margin: 5px;
	width: 100%;
	position: relative;
	top: 0px;
}

.navbutton {
	background-color: #4682B4;
	border: none;
	color: white;
	padding: 22px 22px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	font-family: verdana;
}

.navbutton a:hover {
	background-color: #00cc99;
	color: black;
}

/* Content area */

#container {
	/* This makes everything center aligned. */
	/* Please do not touch. */
	width: 900px;
	margin: 0 auto;
	/* Do not touch ends here. */
}

/* Sidebar */

#sidebar {
	/* This makes everything center aligned. */
	/* Please do not touch. */
	box-sizing: border-box;
	float: left;
	width: 30%;
	text-align: center;
	/* Do not touch ends here. */
	background-color: #5d6d7e;
	padding-top: 20px;
}

.sidebar-entry {
	padding: 6px 8px 6px 16px;
	font-size: 15px;
	color: white;
	display: block;
	background-color: #5d6d7e;
	font-family: 'Open Sans Condensed', sans-serif;
	text-align: center;
	font-size: 24px;
}

.sidebar-entry:hover {
	background-color: #5555;
	color: black;
}

#logo {
	position: relative;
	top: 0px;
	right: 0px;
}

/* Main text area */

#main {
	/* This makes everything center aligned. */
	/* Please do not touch. */
	box-sizing: border-box;
	float: left;
	width: 70%;
	text-align: center;
	/* Do not touch ends here. */
	font-size: 16px; /* Increased text to enable scrolling */
	color: black;
	background-color: white;
}

#main-title {
	font-family: 'Ranga', cursive;
}

#main-image {
}

#main-text {
	font-family: 'Open Sans', sans-serif;
	width: 90%;
	display: block;
	margin: auto;
}

@media screen and (max-height: 450px) {
	.sidenav {padding-top: 15px;}
	.sidenav a {font-size: 18px;}
}
