/* Global */

p {

}

h1 {

}

body {
	font-family: "Lato", sans-serif;
}

h3 {
	font-family: "Brush Script MT"
}

body {
	background-color: #5d6d7e;
}

/* Navbar */
/* Navbar is only present on the INDEX page */

#navbar {
	margin: 5px;
	width: 100%;
	position: relative;
	top: 0px;
}

.navbutton {
	background-color: #4682B4;
	border: none;
	color: white;
	padding: 22px 22px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	font-family: verdana;
}

.navbutton a:hover {
	background-color: #00cc99;
	color: black;
}

/* Sidebar */

#sidebar {
	height: 100%;
	width: 200px;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #5d6d7e;
	overflow-x: hidden;
	padding-top: 20px;
}

.sidebar-entry {
	padding: 6px 8px 6px 16px;
	font-size: 15px;
	color: white;
	display: block;
	background-color: #5d6d7e;
	font-family: Arial, Helvetica, sans-serif;
}

.sidebar-entry:hover {
	background-color: #5555;
	color: black;
}

#logo {
	position: relative;
	top: 0px;
	right: 0px;
}

/* Main text area */

#main {
	margin-left: 200px; /* Same as the width of the sidenav */
	font-size: 16px; /* Increased text to enable scrolling */
	color: black;
	padding: 0px 10px;
	font-family: Arial, Helvetica, sans-serif;
	background-color: white;
}

#main-title {
	display: table;
	margin: 0 auto;
}

#main-image {
	display: table;
	margin: 0 auto;
}

#main-text {
	text-align: center;
	width: 500px;
	display: table;
	margin: 0 auto;
}

@media screen and (max-height: 450px) {
	.sidenav {padding-top: 15px;}
	.sidenav a {font-size: 18px;}
}
