p {

}

h1 {

}


#logo {
    position: relative;
	top: 0px;
    right: 0px;
}

h3 {
	font-family: "Brush Script MT"
}

body {
	background-color: #5d6d7e ;
}
.navbutton {
	background-color: #4682B4;
	border: none;
	color: white;
	padding: 22px 22px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	font-family: verdana;
}

#navbar {
	margin: 5px;
	width: 100%;
	position: relative;
    	top: 0px;
}

.biobutton {
  
body {
    font-family: "Lato", sans-serif;
}
.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #5d6d7e;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    background-color: #5d6d7e;
    font-family: Arial, Helvetica, sans-serif;
}

.sidenav a:hover {
    background-color: #5555;
    color: white;
}

.main {
    margin-left: 200px; /* Same as the width of the sidenav */
    font-size: 28px; /* Increased text to enable scrolling */
    color: white;
    padding: 0px 10px;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(https://i.lensdump.com/i/ABJORD.gif);
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}



h1 {
	color: white; 
	font-family: verdana;
}

p {
	color: white;
	font-family: verdana; 
	background-opacity: 0.5; 
	background-color: #4682B4;
}


#maincontent {
	margin: auto;
	width: 50%;
}
